<section>
    <div class="footer pt-5 pb-5">
        <div class="container pt-5 pb-5">
            <div class="row text-center">
                <div class="col-md-4 pb-4">
                    <p class="p-one">LOCATION</p>
                    <p class="p-two">2215 John Daniel Drive</p>
                    <p class="p-two">Clark, MO 65243</p>
                </div>
                <div class="col-md-4 pb-4">
                    <p class="p-one">AROUND THE WEB</p>
                    <div class="icon-footer">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-solid fa-globe"></i>
                    </div>
                </div>
                <div class="col-md-4 pb-4">
                    <p class="p-one">ABOUT FREELANCER</p>
                    <p class="p-two">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
    <div class="last-page text-center pt-3 pb-2">
        <p>Copyright &copy; Your Website 2021</p>
    </div>
</section>
