<section>
    <div class="about d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <p class="text-center p-one-about">about component</p>
                <div class="icon text-center">
                    <i class="fa-solid fa-star text-white"></i>
                </div>
                <div class="words-about d-flex gap-4 mt-5">
                    <div class="col-md-6">
                        <p class="p-two-about">Freelancer is a free bootstrap theme created by Route. The download includes the complete
                            source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for
                            easy customization.</p>
                    </div>
                    <div class="col-md-6">
                        <p class="p-two-about">Freelancer is a free bootstrap theme created by Route. The download includes the complete
                            source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for
                            easy customization.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>