<nav class="navbar navbar-expand-lg">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand" routerLink="framestart" class="text-white text-decoration-none">start framework</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-4">
          <li class="nav-item pp">
            <a class="nav-link" routerLink="about" routerLinkActive="bg-success text-white rounded">about</a>
          </li>
          <li class="nav-item pp">
            <a class="nav-link" routerLink="portfolio" routerLinkActive="bg-success text-white rounded">portfolio</a>
          </li>
          <li class="nav-item pp">
            <a class="nav-link" routerLink="contact" routerLinkActive="bg-success text-white rounded">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
