<section>
    <div class="container">
        <p class="text-center port mt-5">conatct section</p>
        <div class="icon text-center mb-5">
            <i class="fa-solid fa-star"></i>
        </div>
        <form>
            <div class="input-container">
                <input id="username" type="text" placeholder="userName">
                <label for="username">userName :</label>
            </div>
            
            <div class="input-container">
                <input id="userAge" type="text" placeholder="userAge">
                <label for="userAge">userAge :</label>
            </div>
            
            <div class="input-container">
                <input id="userEmail" type="text" placeholder="userEmail">
                <label for="userEmail">userEmail :</label>
            </div>
            
            <div class="input-container ">
                <input id="userPassword" type="password" placeholder="userPassword" class="mb-3">
                <label for="userPassword">userPassword :</label>
            </div>
            <button type="button">send Message</button>
        </form>
    </div>
</section>