<section>
    <div class="all">
        <div class="img d-flex justify-content-center w-75 m-auto mt-5">
            <img src="avataaars.svg" alt="avataaars">
        </div>
        <div class="words-page text-center">
            <p class="pt-5 words-page-one">start Framework</p>
            <div class="icon">
                <i class="fa-solid fa-star text-white"></i>
            </div>
            <p class="words-page-two pt-3">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</section>
